@import '@/styles/_fonts.scss';

.headers {
  display: flex;
  flex-direction: row;
  min-width: 634px;
  align-self: stretch;
  height: 14px;
  padding: 1px 0px;
  justify-content: space-between;
  flex-shrink: 0;
}

.asset {
  width: 120px;
  @extend .header;
}

.target_address {
  width: 190px;
  @extend .header;
}

.amount {
  width: 120px;
  @extend .header;
}

.date {
  width: 70px;
  @extend .header;
}

.header {
  flex-shrink: 0;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: var(--Black-Black---08);
  @extend %regular_S;
}
