%medium_L {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0em;
}

%medium_M {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0em;
}

%regular_M {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
}

%medium_S {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0em;
}

%regular_S {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0em;
}
