:root {
  // Common
  --Main-White: rgba(255, 255, 255, 1);
  --Transparent-Black: rgba(0, 0, 0, 0.7);
  --Error: rgba(243, 105, 96, 1);
  --Success: rgba(65, 197, 136, 1);
  --Transparent-White: rgba(255, 255, 255, 0.3);
  --Transparent-Dark: rgba(0, 0, 0, 0.8);

  // Black
  --Black-Black---01: rgba(242, 242, 242, 1);
  --Black-Black---02: rgba(229, 229, 229, 1);
  --Black-Black---03: rgba(216, 216, 216, 1);
  --Black-Black---04: rgba(203, 203, 203, 1);
  --Black-Black---05: rgba(178, 178, 178, 1);
  --Black-Black---06: rgba(152, 152, 152, 1);
  --Black-Black---07: rgba(126, 126, 126, 1);
  --Black-Black---08: rgba(101, 101, 101, 1);
  --Black-Black---09: rgba(76, 76, 76, 1);
  --Black-Black---10: rgba(50, 50, 50, 1);
  --Black-Black---11: rgba(38, 38, 38, 1);
  --Black-Black---12: rgba(25, 25, 25, 1);
  --Black-Black---13: rgba(13, 13, 13, 1);
  --Black-Black---14: rgba(0, 0, 0, 1);

  // Main Blue
  --Blue-Main-Blue---01: rgba(175, 186, 240, 1);
  --Blue-Main-Blue---02: rgba(156, 169, 229, 1);
  --Blue-Main-Blue---03: rgba(138, 151, 217, 1);
  --Blue-Main-Blue---04: rgba(119, 134, 206, 1);
  --Blue-Main-Blue---05: rgba(83, 100, 184, 1);
  --Blue-Main-Blue---06: rgba(46, 65, 161, 1);
  --Blue-Main-Blue---07: rgba(9, 31, 139, 1);
  --Blue-Main-Blue---08: rgba(7, 25, 111, 1);
  --Blue-Main-Blue---09: rgba(5, 19, 83, 1);
  --Blue-Main-Blue---10: rgba(4, 12, 56, 1);

  // Sub Pink
  --Pink-Sub-Pink---01: rgba(255, 229, 242, 1);
  --Pink-Sub-Pink---02: rgba(255, 204, 229, 1);
  --Pink-Sub-Pink---03: rgba(255, 178, 215, 1);
  --Pink-Sub-Pink---04: rgba(255, 153, 202, 1);
  --Pink-Sub-Pink---05: rgba(255, 102, 176, 1);
  --Pink-Sub-Pink---06: rgba(255, 51, 149, 1);
  --Pink-Sub-Pink---07: rgba(255, 0, 123, 1);
  --Pink-Sub-Pink---08: rgba(204, 0, 98, 1);
  --Pink-Sub-Pink---09: rgba(153, 0, 74, 1);
  --Pink-Sub-Pink---10: rgba(102, 0, 49, 1);
}
