@import '@/styles/_fonts.scss';

.add_asset_modal {
  display: flex;
  width: 400px;
  height: 196px;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.modal_title {
  color: var(--Main-Gray-Main-Gray---15);
  @extend %medium_M;
}

.modal_sub_info {
  display: flex;
  height: 53px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.sub_info_title {
  color: var(--Main-Gray-Main-Gray---15);
  @extend %regular_S;
}

.sub_info_error_title {
  @extend .sub_info_title;
  color: var(--Error);
}

.sub_info_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.modal_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
