@import '@/styles/_fonts.scss';

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}

.title {
  color: var(--Main-White);
  @extend %medium_L;
}

.container {
  display: flex;
  padding: 20px;
  height: 368px;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  align-self: stretch;
  gap: 20px;
  border-radius: 20px;
  background: var(--Main-White);
}

.notice_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.transaction_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
