@import '@/styles/_fonts.scss';

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.default_toast {
  display: inline-flex;
  padding: 12px 30px 12px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: var(--Transparent-Dark);
  position: fixed;
  top: 20px;
  z-index: 21;
  color: var(--White, #fff);
  @extend %medium_M;
  animation-name: fadeout;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
