.button_image_container {
  position: relative;
  width: 15px;
  height: 15px;
  overflow: hidden;
}

.button_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease 0s;

  &.fadeOut {
    opacity: 0;
  }
}
